{% extends 'paginas/base.html' %}

{% block titulo %}Home {% endblock titulo %}
{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Bienvenido</h1>
        <hr class="my-2">
        <br>
        <p>Esta es una simple aplicacion CRUD con el objetivo de mejorar en Django y Python</p>
        <br>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href={% url 'libros:libros' %} role="button">Start</a>
        </p>
    </div>
</div>

{% endblock contenido %}